body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
}

#idCard {
  background-color: #fff;
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: left;
}
#pass {
  text-align: left;
  padding-left: 15px;
  height: 100%;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}
#pass p {
  padding: 0;
  margin: 8px;
}
#imagePreview {
  width: 80;
  height: 80px;
  margin: 10px;
}

label {
  display: block;
  margin: 10px 0;
}

.signature {
  margin: 0;
  padding: 0;
  text-align: right;
  margin-right: 2rem;
}
.signature > img {
  width: 80px;
  height: 40px;
  margin: 0;
  padding: 0;
}
.signature h5 {
  margin: 0;
  padding: 0;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
